*{
  font-family: Calibri;
  padding: 0px;
  margin: 0px;
  
}

html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.grid {
  padding:2px;
}
.form {
  font-size:10px;
  margin: 10px;
  padding: 10px;
  padding-top: 10px;
}

.top{
  height: 12px;
  margin: -5px;
  padding:-5px;
  font-size: 10px;
  color:grey;
}

.bottom {
  height: 30%;
}

.page{
  padding:5px;
}

.meter{
  padding:5px;
}

h2{
  color:white;
}
button{
  padding: 2px;
  margin: 0px;
}

.extra_note{
  height: 30px;
  width: auto;
  padding: 2px;
  margin: 0px;
}

.mannual {
  font-size:8px;
  color:white;
}
.panel-heading {
  font-size:14px;
}
.panel-body {
  font-size: 12px;
}
.edit_line {  
  position: fixed;
  bottom: 0%;
  height: 30%;
  border-top: solid 1px #222222;
  background-color:#F2EBDB;
  background-repeat: repeat;
  background-size: 1500px;
}
.right_menu div h3.ui.header{
  color: white;
  font-size: 1.3vw;
}
.keyboard {
  height: 25vh;
}
.keyboard button {
  position: absolute;
  border: solid 0.1vw black;
}
#error, #success, #warning {
  width: 14.5vw;
}
.white{
  background-color: white;
  height: 25vh;
  width: 12%;
  font-size: 25px;
  color: #222222;
  z-index: 1;
  padding-top: 18vh;
  margin-left: 1vw;
}
.black{
  background-color: black;
  height: 17vh;
  width: 8%;
  z-index: 2;
  margin-left: 1vw;
}
#C{
  left: 0%;
}
#CS{
  left: 8%;
}
#D{
  left: 12%;
}
#DS{
  left: 20%;
}
#E{
  left: 24%;
}
#F{
  left: 36%;
}
#FS{
  left: 44%;
}
#G{
  left: 48%;
}
#GS{
  left: 56%;
}
#A{
  left: 60%;
}
#AS{
  left: 68%;
}
#B{
  left: 72%;
}
#CC{
  left: 84%;
}
.triangle{
  position: absolute;
}
#left_triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent black transparent transparent;
  left: 90px;
  top: 80px;
}

#right_triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent black;
  left: 210px;
  top: 80px;
}

.edit_note{
  position: absolute;
  width: 30%;
  top: 10px;
  padding: 0px;
  margin: 0px;
}

#quarter2{
  left: -66666px;
}
#sixty-fourth {
  left: -77777px;
}
#thirty-second{
  left: -88888px;
}
#sixteenth {
  left: -99999px;
}
#eighth{
  left: 0px;
}
#quarter{
  left: 100px;
}
#half{
  left: 200px;
}
#whole{ 
  left: -77777px;
}
#breve{ 
  left: -55555px;
}
.octave{
  display: inline-block;
}
.save{
  background-color: white;
  width: 10%;
  border: solid 1px;
}
.site{
  width: 50%;
  border: solid 1px;
}
.ui.label{
  font-size: 1.4vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
}
.ui.raised.segment{
  height: 19vw;
  margin-top: 1vw;
}
.four.wide.column.left_menu{
  background-color: #1B1C1D;
  height: 97vh;
  padding-left: 2vw;
}
.three.wide.column.right_menu{
  background-color: #1B1C1D;
  height: 97vh;
}
.meter{
  color:white;
}
button:focus{
  outline: none;
}
#topbar{
  border-radius: 0;
  border-bottom-color: #00B5AD;
  border-bottom-width: thin;
  height: 3vh;
  margin-top: 0;
}
img.logo{
  width: 17vh;
  margin-left: 28%;
}
#voices{
  height: 40vh;
}
.footer_input, .footer_input.ui.input{
  position:fixed;
  left: 2vw;
}
#octave_{
  bottom: 2vh;
}
#meter_in{
  bottom: 7vh;
}
#meter{
  bottom: 12vh;
}
.divider{
  cursor: pointer;
}
#meter_in input{
  width: 20vw;
}

.ui.popup {
  border: none;
  height: auto;
  background-color: sienna;
  color: white;
}

#bpm {
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 0.5vw;
}

#bpm_input {
  width: 16vw;
}

.cursor { 
  background-color: #000000;
  opacity: 0.5;
}

#preloader { 
  display: none; 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 1100; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background: #1b1c1d  no-repeat center center; 
  text-align: center;
}

#loading {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#preloader p {
  color: white;
  font-size: 2vw;
  margin-top: 59vh;
}