<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/MSOE_icon.ico" rel="SHORTCUT ICON">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.double-keypress.js"></script>
    <link rel="stylesheet" type="text/css" href="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <script src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script src="semanticUI/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semanticUI/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="semanticUI/components/icon.css">
    <link rel='stylesheet' href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/socketio.js"></script>
</head>

<body>
    <div class="ui left sidebar inverted vertical menu mCustomScrollbar"  data-mcs-theme="minimal" data-mcs-axis="y" id="toolbox">
        <div class="item">
            <h3 class="ui header">Chord</h3>
            <p>Name</p>
            <div class="ui input">
				<input id="chordsym" type="text" placeholder='name (e.g. C7)'/>
			</div>
			<br>
			<br>
			<div class="ui inverted teal button chordpart" id="chordgen">insert</div>
			<br>
			<br>
			<p>Formula</p>
			<div class="ui input">
				<input id="chordroot" type="text" placeholder='root (e.g. D#)'/>
			</div>
			<br>
			<br>
			<div class="ui input">
				<input id="chordform" type="text" placeholder='formula (e.g. 1,#3,b5)'/>
			</div>
			<br>
			<br>
			<div class="ui inverted teal button chordpart" id="chordforgen">insert</div>
        </div>
    </div>
    <div class="ui right sidebar inverted vertical menu" id="sidebar">
        <div class="item">
            <span id="manual_window">
                <i class="large angle double left icon" id="manual_width"></i>
                <i class="large external square icon" id="manual_new"></i>
            </span>
            <br>
            <br>
            <span id="font">字體 : </span>
            <div class="tiny ui buttons">
                <button class="ui inverted brown button font active" id="font_0">大</button>
                <button class="ui inverted teal button font" id="font_1">小</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
	    $("#sidebar").mCustomScrollbar({
	        theme: "minimal",
	        axis: "y"
	    });
	</script>
    <div class="pusher">
        <div class="fullscreen" id="preloader">
            <img id="loading" src="img/loading.gif"/>
            <p>The sheet is loading...</p>
        </div>
        <div class="fullscreen" id="forceupdatemes" style="display: none; text-aligned: center;">
            <i id="forceupdateicon" class="massive exclamation triangle icon"></i>
            <br>
            <p>Someone cleared the temp data of this sheet,<br/>
            and a forced reload is required!</p>
            <button id="forceupdatecheck" class="ui inverted large button yellow">OK</button>
        </div>
        <div id="discardconfirm" class="ui basic modal">
            <div class="ui icon header">
                <i class="archive icon"></i>
                Discard Unsaved Changes
            </div>
            <div class="content">
                <p>This operation can't be reversed, and this would force every editor to rollback to saved sheet.</p>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    Cancel
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Ok
                </div>
            </div>
        </div>
        <div id="modaldiv1" class="ui modal start">
            <h1 class="ui center aligned huge header"><img class="ui large circular image" src="img/logo.png"/>
                <div class="ui center aligned large header">Music Sheet Online Editor
                    <div class="center aligned sub header ">線上樂譜編輯網</div>
                </div>
                <div class="ui center aligned inverted red large button" id="infomodal">START</div>
            </h1>
        </div>
        <div id="modaldiv2" class="ui modal fill">
            <h2 class="ui header"><img src="img/logo.png" class="ui circular image"> 樂譜資訊 Score Info <h3 class="sub header"> 開始編輯！填入樂譜的資訊 </h3></h2>
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label> 編輯人 Editor </label>
                        <input type="text" name="whoiseditor" placeholder="Editor Name Here">
                    </div>
                    <div class="field">
                        <label> 作曲人 Composer </label>
                        <input type="text" name="whoiscomposer" placeholder="Composer Name Here">
                    </div>
                </div>
                <div class="field">
                    <label> 譜名 Title </label>
                    <input type="text" name="whatistitle" placeholder="Title Here">
                </div>
                <div class="field">
                    <label> 副標 Subtitle </label>
                    <input type="text" name="whatissubtitle" placeholder="Subtitle Here">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label> 專輯 Album </label>
                        <input type="text" name="whichalbum" placeholder="Album Name">
                    </div>
                    <div class="field">
                        <label> 演出者 Artist </label>
                        <input type="text" name="whoisartist" placeholder="Artist Name Here">
                    </div>
                </div>
                <div class="ui inverted green button" id="submit" tabindex="0"> 提交 Submit </div>
            </form>
        </div>
        <div class="ui top thin inverted menu" id="topbar">
            <a class="item help" id="infohome">Score Info</a>
            <a class="item help" id="manualgo">Manual</a>
            <a class="item" id="help">Help</a>
            <a class="item help edit-but" id="save">Save</a>
            <a class="item help edit-but" id="tool">Toolbox</a>
            <a class="item edit-but" id="discard">Discard Unsaved Changes</a>
            <a class="item help pre-but" id="play">Play</a>
            <a class="item help pre-but" id="print">Print</a>
            <a class="item help pre-but" id="share">Share</a>
            <script type="text/javascript">
                $("#help").popup({
                    content: "Popup info for UI",
                    on: "hover",
                    position: "bottom left",
                    target: "#help",
                    variation: "basic mini",
                    delay: {
                        show:30
                    }
                });
            </script>
            <div class="right menu">
                <a class="item help" id="edit" onclick="edit_mode()">Edit</a>
                <a class="item help" id="preview" onclick="preview_mode()">Preview</a>
                <a class="item help" id="night" onclick="UIhandler.night_mode()">Night</a>
                <a class="item" id="lan" data-lan="en-US">English</a>
            </div>
        </div>
        <div class="ui grid">
            <div class="four wide column left_menu">
                <div class="rows">
                    <div class="logo"><img src="img/logo.png" class="logo help" id="logo" width=300px></div>
                </div>
                <!--row top left-->
                <div class="left">
                    <div class="ui raised segment inverted" id="voices">
    				</div>
    				<script type="text/javascript">
    				    $("#voices").mCustomScrollbar({
    				        theme: "minimal",
    				        axis: "yx"
    				    });
    				</script>
    				<div class="ui five item inverted menu small borderless">
    					<a class="item help" id="copy">Copy</a>
    					<a class="item disabled help" id="cut">Cut</a>
    					<a class="item disabled help" id="paste">Paste</a>
    					<a class="item help" id="tie">Tie</a>
    					<a class="item help" id="clef">Clef</a>
    				</div>
    				<div class="ui inverted menu small borderless" style="margin-left: -0.5vw;">
    					<a class="item help" id="plus"><i class="plus mini icon"></i></a>
    					<a class="item help" id="minus"><i class="minus mini icon"></i></a>
    					<div class="item">
    						<div class="ui input" style="width: 8vw;">
    							<input id="voicename" type="text" placeholder='voicename(no ")'/>
    						</div>
    					</div>
    					<div class="right menu">
    						<a class="item help" id="check"><i class="checkmark mini icon"></i></a>
    						<a class="item help" id="remove"><i class="remove mini icon"></i></a>
    					</div>
    				</div>
                    <div class="footer_input one wide column row meter" id="meter">Meter</div>
                    <div class="footer_input one wide column row ui input mini" id="meter_in">
                        <input class="input_tempo" name="whatistempo" placeholder="4/4" />
                    </div>
                </div>
            </div>
            <div class="nine wide column sheet" id="sheet">
                <div class="boo" id="boo"></div>
                <div class="ui blue message" style="display: none;" id="hint">
				    <div class="header">
					    Start
					</div>
					<p>
						insert a note to start.
					</p>
				</div>
                <div class="midi" id="midi"></div>
            </div>
            <div class="three wide column panel-group right_menu">
                <div class="ui sticky" style="width: 272px !important; height: 262.531px !important;">
                    <h3 class="ui header">Keyboard</h3>
                    <div class="keyboard">
                        <button id="C" class="white" onclick="btn(this)">Z</button>
                        <button id="CS" class="black"></button>
                        <button id="D" class="white" onclick="btn(this)">X</button>
                        <button id="DS" class="black"></button>
                        <button id="E" class="white" onclick="btn(this)">C</button>
                        <button id="F" class="white" onclick="btn(this)">V</button>
                        <button id="FS" class="black"></button>
                        <button id="G" class="white" onclick="btn(this)">B</button>
                        <button id="GS" class="black"></button>
                        <button id="A" class="white" onclick="btn(this)">N</button>
                        <button id="AS" class="black"></button>
                        <button id="B" class="white" onclick="btn(this)">M</button>
                    </div>
    				<div class="ui negative message" style="display: none;" id="error">
    				    <div class="header">
    					    Error
    					</div>
    					<p>
    						A voicename can't contain ".
    					</p>
    				</div>
    				<div class="ui positive message" style="display: none;" id="success">
    				    <div class="header">
    					    Success
    					</div>
    					<p>
    						Successfully saved.
    					</p>
    				</div>
    				<div class="ui warning message" style="display: none;" id="warning">
    				    <div class="header">
    					    Warning
    					</div>
    					<p>
    						Some unsaved modifications are found.
    					</p>
    				</div>
    				<div class="ui inverted segment" id="noteinfo">
    				    <div class="ui pointing below small label" id="preview_label">
    				        Preview
    				    </div>
        				<div id="booo">
        				</div>
    				</div>
                </div>
            </div>
            <div class="three wide column panel-group-preview right_menu">
                <div class="one wide column row" id="bpm">
                    BPM
                </div>
                <div class="ui input mini" id="bpm_input">
                    <input type="text" placeholder="180" name="whatisbpm"/>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $('#manualback,#manualgo').click(function() {
        $('#sidebar').sidebar('setting', 'transition', 'overlay')
        .sidebar('toggle');
    });
    $('#tool').click(function() {
        $('#toolbox').sidebar({dimPage: false, closable: false, transition: "overlay"})
        .sidebar('toggle');
    });
    </script>
    <script type="text/javascript">
    $('#modaldiv2')
        .modal({
            allowMultiple: false
        })
        .modal({
            blurring: true
        });
    $('#infomodal').click(function() {
        $('#modaldiv1').modal('hide');
    });
    $('#infohome').click(function() {
        $('#modaldiv2').modal('setting', 'transition', 'vertical flip').modal('show');
    });
    $('#submit').click(function() {
        $('#modaldiv2').modal('hide');
    });
    </script>
    <script src='js/abcjs_basic_midi.js'></script>
    <script src="js/tonal.min.js"></script>
    <script src='js/server.js'></script>
    <script src="js/MSOE.js"></script>
    <script src="js/auth_test.js"></script>
    <script src="js/MSOE_ports.js"></script>
    <script src="js/MSOEctr.js"></script>
    <script src="js/modechange.js"></script>
</body>

</html>
