<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/MSOE_icon.ico" rel="SHORTCUT ICON">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <script src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="semanticUI/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semanticUI/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="semanticUI/components/icon.css">
    <link rel='stylesheet' href="css/manual_keyboard.css">
    <link rel='stylesheet' href="css/kbd.css">
    <script type="text/javascript" src="js/manual_keyboard.js"></script>
</head>
<body>
    <div class="ui inverted segment" id="keyboard">
        <img class="ui image" src="img/keyboard.png"/>
        <div id="keys"></div>
        <div class="ui fitted divider" id="divider"></div>
        <div id="explanation">
            <div class="line">Point on a key or a key group to see the command of it.</div>
        </div>
    </div>
</body>